header{
    position: relative;
}
  
header h1{
    text-transform: uppercase;
}


header > .central_header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -200;
}

.central_header h2{
        text-decoration: underline;
        color: lightgray

}

header > .central_header > .link_path >ul{
    display: flex;
    gap: 1rem;
    font-weight: 700;
}

header > .central_header > .link_path li:first-child, header > .central_header > .link_path li:nth-child(3)  {
    color: lightgray;
}

.user_actions{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3rem;
    justify-content: flex-end;


}

.user_actions img{
    width: 16px;
}

.actions_left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    flex-wrap: wrap;
}

.upper_line{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.upper_line input{
    width: 20vw;
    height: 20px;
    padding: 0.7rem 2rem;
    border: none;
    border-bottom: 2px grey solid;
    outline: none;
    background-image: url("../assets/icons/search_icon.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    
}



.upper_line > div{
    display: flex;
    gap: 0.5rem;
    gap: 1rem;
}

.second_line > ul{
    display: flex;
    gap: 1rem;
    text-transform: uppercase;
    font-size: 12px;
}

.nav_bar{
    position:fixed;
    z-index: 200;
}
.nav_bar li{
    transition: all 0.5s ease; 
}

.nav_bar li:hover{
    color:#C3D900;
    transform: scale(1.2);
    font-weight: 800;
}


.filterBar > ul{

    display: flex;

    justify-content: space-between;
}

.filterBar > ul > li{
    margin-left: 5px;
    background-color: var(--highlight-color);
    width: 100%;
    min-width: fit-content;
    display: flex;
    justify-content: space-between;
    padding:0.5rem;
    gap: 8px;
    color: var(--primary-color);
    position: relative;
    font-size: 1rem;
}

.filterBar>ul>li:first-child {
    margin: 0;}

.filterBar > ul > li::after{
    content:">"
}



.filterBar__filter{
    display: none;
    position: absolute;
    top:30px;
    background-color: rgba(212, 243, 101, 0.979);
    color: black;
    padding: 1rem;

    z-index: 300;
    
}
.order {
    position: relative;
    width: 100%;

}
.order:hover .filterBar__filter{
    display: flex;
    flex-direction: column;
    position: absolute;
    box-shadow:  5px 3px 17px -11px rgba(0,0,0,0.75);
    width: 100%;
    gap: 1rem;


}

.filterBar__filter::before{
    content: "";
    position: absolute;
    background-color: rgba(212, 243, 101, 0.979);
    transform: rotate(45deg);
    top: -8px;
    left: 30px;
    width: 20px;
    height: 20px;
    z-index: -1;
}

.filterBar__filter >li{
    display: flex;
}

input[type=checkbox] {
    transform: scale(1.5);

}

.texto{
height: 30px;
}


@media screen and (max-width: 1050px){
.actions_left{
    gap: 0.5rem;
    justify-content: center;

}

.header{
    height: 22vh;
}
}

@media screen and (max-width: 800px){
    .nav_bar{
        top:200px;
    }
    .upper_line input{
        width: 100%;
    }
    .user_actions{
        position: relative;
        top: 40px;
        flex-direction: row-reverse;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .header{
        padding: 0 1rem;
        height: 22vh;
    }
    .second_line{
    
    font-size: 12px;}
    .order{
    width: 80%;
margin: 0 auto;}
    .actions_left{
        flex-direction: row;
    }
    }


