@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Nunito', sans-serif;
    padding: 2rem 0.25em;
    margin: 0 1em;

}
html,body {
  overflow-x: hidden;

}
button,
select {
    font: inherit;
    padding: 0.25em;
}

a{
    text-decoration: none;
    color: inherit
  }

  li{
    list-style: none;
  }

/*img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}*/

/*#root {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}*/

/*
.header,
.footer {
    padding: 0.25em;
    margin: 0 1em;
}*/

main{

    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    gap: 1rem;
    overflow: hidden;
    min-height: 70vh;

}

main img{
    width: 100%;
}









.cart__item-subtotal {
    display: none;
    text-align: center;
}



.product {
    width: 90%;
    margin-bottom: 1em;
}

.product__img {
    max-width: 350px;}
/*.main {
    display: flex;
    gap: 1rem;
}

.main--products {
  flex-flow: row wrap;
  justify-content: space-between;
}



.header {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid #000;
}

.header__title-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.header__price-box {
    text-align: right;
}

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
}

.footer {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}


}



@media screen and (min-width: 601px) {
    .product {
        width: 30%;
    }

    .cart__item {
        grid-template-columns: 3fr 15fr 5fr 1fr 8fr 1fr;
    }

    .cart__img, .cart__item-subtotal {
        display: block;
    }

    .cart__submit {
        max-width: 300px;
    }
}*/

.button {
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #222;
    --tooltip-color: #fff;
    width: 100%;
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
  }
  
  .button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: #555;
    font-size: 0.9rem;
    color: #fff;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #555;
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .button::after,.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-wrapper,.text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .text {
    top: 0
  }
  
  .text,.icon {
    transition: top 0.5s;
  }
  
  .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon svg {
    width: 24px;
    height: 24px;
  }
  
  .button:hover {
    background: #d5f365;

  }
  
  .button:hover .text {
    top: -100%;
  }
  
  .button:hover .icon {
    top: 0;
  }
  
  
  
  .button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }
  
  
  
  


   .icon2{
    width: 20px;
   }

   .added{
    display: flex;
    gap:0.5rem;
    align-items: start;
   }

   red{
    background-color: red;
   }

   @media screen and (max-width: 800px){
    main{
      grid-template-columns: none;
      padding: 1rem 0;
    }}


